# Google Cloud Platform Configuration
GCP_PROJECT_ID=fp-a-project
GCP_CREDENTIALS_PATH=/credentials/gcp-credentials.json

# BigQuery Configuration
REPORT_DATASET_NAME=Report_data
REPORT_CONFIG_DATASET_NAME=Report_config
ALLOCATION_CONFIG_DATASET=allocation_config
ALLOCATION_STAGE_DATASET=alloc_stage

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
